*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn_auth{
    @apply w-full p-1 text-[13px] text-custom-medium-gray rounded-lg h-[40px] font-medium transition-all duration-200 md:w-[95px] md:h-full;
  }
}